chumpy
numpy
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
timm==0.4.9
munkres
xtcocotools>=1.8
pyrender
trimesh
json_tricks
loguru
setuptools==59.5.0
tqdm