chumpy @ git+https://github.com/mattloper/chumpy
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
timm==0.4.9
munkres
xtcocotools>=1.8
loguru
tqdm
ultralytics
gdown==4.6.0
mmcv
mmpose
mmpretrain
mmengine